.textInput {
  outline: none;
  border: none;
  font-size: 1.8rem;
  width: 22rem;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form {
  /* height: 80vh; */
  width: 70vw;
  background-color: #ffd8a9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form_input {
  display: flex;
  width: 25rem;
  height: 2.5rem;
  border-radius: 2px;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 1rem;
  align-items: center;
  margin-top: 1.2rem;
  background-color: white;
}
.tasks {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .textInput {
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
  }
  .form_input {
    display: flex;
    width: 80%;
    height: 2.5rem;
    border-radius: 2px;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 1rem;
    align-items: center;
    margin-top: 1.2rem;
    background-color: white;
  }
}

@media screen and (max-width: 420px) {
  .textInput {
    font-size: 1.2rem;
  }
}
